<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

  <title>{{site.title}}</title>
</head>

<body>

  <header>
    <div class="container">
      <h1>Newton COB Junior</h1>
      <h2>piano, jogos, desenvolvimento web, indie rock, coca-cola, doritos, chocolate, fotografia, animais, desenhos, séries, filmes e um monte de coisas há mais...</h2>

      <section id="downloads">
        <a href="http://github.com/newtonjr" target="_blank" class="btn">View on GitHub</a>
        <a href="http://twitter.com/newtonju" target="_blank" class="btn">View on Twitter</a>
        <a href="http://www.facebook.com/newtonju" target="_blank" class="btn">View on Facebook</a>
      </section>
    </div>
  </header>

  <div class="container">
    {{content}}
  </div>

</body>
</html>